dist: trusty

language: php

sudo: false

php:
    - '7.0'
    - '7.1'
    - 'nightly'

matrix:
  allow_failures:
    - php: nightly

before_script:
    - composer update

script:
    - vendor/bin/phpcs
    - vendor/bin/phpunit
